<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.MqReturnedMessageMapper">
    <insert id="insertBatch">
        insert into mq_returned_message(message_id, exchange, routing_key, reply_code, reply_text, message_body)
        VALUES
        <foreach collection="mqReturnedMessagesList" item="message" separator=",">
            (#{message.messageId},#{message.exchange},#{message.routingKey},#{message.replyCode},#{message.replyText},#{message.messageBody})
        </foreach>
    </insert>
</mapper>
